# Built collections
*.tar.gz

# Splunk packages (during testing)
*.spl

# Ansible lint
.cache

# Local ansible collection / module discovery path (not source)
.ansible/

# Developer stuff
.vscode

# Python stuff
venv
__pycache__
*.py[co]

# ksconf stored manifest files
.*.manifest
